@import "~bootstrap/scss/bootstrap.scss";

body{
    background-color: aquamarine;
}

.listOfTask {
    display:flex;
    margin: 0 auto;
    background: aquamarine;
    justify-content: center;
    margin-top: 3rem;
    align-items: center;
    flex-direction: column;
};

